@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto Mono;
  font-weight: 500;
  padding: 100px 100px
}
.main img{
  height: 100px;
  margin-bottom:50px
}
.main h1 , h2{
  color: #1563CB;
}
.main h3{
  color: #2F80ED;
  font-weight:200;
}
.main p{
  color: #2F80ED;
  font-weight:200;
}
.main h4{
  color: #2F80ED;
}
.main h5{
  color: #2F80ED;
}


.social{
  margin-top: 0px;
}

.social a{
  display: inline;
  margin-right: 10px;
}

.version{
  color: #55acee;
  margin-top: 50px;
}

.tech-stack{
  display: inline;
}

.tech-stack li{
  display: inline-flex;
}

.tech-stack box-icon{
  height: 60px;
}
@media screen and (max-width: 769px) and (max-width: 991px) {
  body{
    padding: 100px 10px
  }
}
